body{
    text-align: center;
    margin: 0 auto;
    width: 600px;
    font-family: Consola, sans-serif;
}

.head{
	font-weight: bold;
}

#wall{
	width: 100px;
	height: 30px;
	margin: 0 auto;
	background-color: #EDEDED;
	border: 1px solid black;
}

#tip{
	text-align: center;
	height: 40px;
	font-size: 20px;
	color: red;
	transition: opacity 0.5s;
}

.tip_h{
	opacity: 0;
}

.tip_s{
	opacity: 1;
}